@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <title>Windows Azure Access Control Service Test</title>
    </head>
    <body>
        <div>
              Windows Live ID: @ViewBag.NameIdentifier
        </div>
    </body>
</html>